<h1>Bem vindo!</h1>

<h1><td>Resumo</td> </h1>
<table class="table table-borderless table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Valor total de Pedidos:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><%= @pedidos%></td>
      </tr>
   
    </tbody>